@import "tailwindcss";
/* html, body {
  overflow-x: hidden;
} */

.font-display {
  font-family: 'Space Grotesk', sans-serif;
}
.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
body {
  font-family: 'Inter', sans-serif;
}
/* body {
  font-family: 'Inter', sans-serif;
} */